[submodule "makestuff"]
	path = makestuff
	url = git@github.com:dushoff/makestuff.git
[submodule "LatexTemplates"]
	path = LatexTemplates
	url = git@github.com:ICI3D/LatexTemplates.git
[submodule "disease_model_talks"]
	path = disease_model_talks
	url = git@github.com:dushoff/disease_model_talks.git
[submodule "statistics_talks"]
	path = statistics_talks
	url = git@github.com:dushoff/statistics_talks.git
[submodule "MMED2017"]
	path = MMED2017
	url = git@github.com:ICI3D/MMED2017.git
[submodule "math_talks"]
	path = math_talks
	url = https://github.com/dushoff/math_talks.git
