[submodule "disease_model_talks"]
	path = disease_model_talks
	url = https://github.com/dushoff/disease_model_talks.git
[submodule "statistics_talks"]
	path = statistics_talks
	url = https://github.com/dushoff/statistics_talks.git
[submodule "MMED2017"]
	path = MMED2017
	url = git@github.com:ICI3D/MMED2017.git
	url = https://github.com/ICI3D/MMED2017.git
[submodule "math_talks"]
	path = math_talks
	url = https://github.com/dushoff/math_talks.git
[submodule "Lecture_images"]
	path = Lecture_images
	url = https://github.com/Bio3SS/Lecture_images.git
[submodule "makestuff"]
	path = makestuff
	url = https://github.com/dushoff/makestuff.git
	branch = master
